.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color:black;
  
}

.example-full-width {
  background-color: white;
  width: 100%;
  height: auto;
}

.col-sm-8 {
  height:70%;
  color:azure;
  font-family: 'Courier New', Courier, monospace;
}

