<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
    <div class="cnt">
    <h2 style="text-align: center; font-size:xx-large; padding-top:9.5%; font-family: cursive;"><b>Smart Portfolio Management</b></h2>
    <img src="/assets/images/Hero.png" alt=""width="80%" height="50%" style="display: block; margin: auto; margin-top:5vh">
    
    <h1 style="text-align: center; margin-top: 3vh;">Are you one of our Happy Customers Already? <br>
     &nbsp; 
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
        </svg>
    </h1>
    <div class="btn">
        <button type="button" class="btn btn-primary btn-lg btn-block">Login Now </button>
    </div>
    
    
</div>





    </div>
    <div class="col-sm-8" style="background-color:rgb(103, 13, 187);">
      <h3>Register User</h3>
      <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        
        <input name="EMAIL ID" type="email" matInput placeholder="Enter Email"/>
        <!--<textarea name="Email ID" matInput placeholder="Enter Email" ></textarea>-->
      </mat-form-field>
      
      <table class="table" ><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
        <textarea name="First Name" matInput placeholder="First Name" ></textarea>
        </mat-form-field></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><mat-form-field class="example-full-width" appearance="fill">
        <textarea name="Last Name" matInput placeholder="Last Name" ></textarea>
        </mat-form-field></td>
      </tr></table>
      <mat-form-field class="example-full-width" appearance="fill">
      <input name="Mobile Number" type="tel" matInput placeholder="10 digit Mobile number" />
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width" appearance="fill">
      <input name="Password" matInput placeholder="Enter 4 digit PIN" />
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width" appearance="fill">
      <input name="Re-Enter Password" matInput placeholder="Re-enter 4 digit pin" />
      </mat-form-field>

      <div >
      <!--Button-->
      <button class="noteSubmit" mat-button color="primary">Submit</button>
    </div>
    
      
    </form>
    </div>
   

  </div>
</div>
    
</body>
</html>
