<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    <div class="col-sm-8" style="background-color:rgb(103, 13, 187);">
      <h3>Register User</h3>
      <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput >
      </mat-form-field>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Mobile Number</mat-label>
      <input matInput>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Re-Enter Password</mat-label>
      <input matInput>
      </mat-form-field>

      
    
      
    </form>
    
    
    </div>
  </div>
</div>
    
</body>
</html>
